<div id="policyModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="policyModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Insurance Policy Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="ZincInterstitial">
         <div class="ZincInterstitial-providerInfo">
            <div class="ZincInterstitial-header">
               <div class="ZincInterstitial-headerImage"><img src="https://sandbox.zincplatform.com/assets/interstitial/blue-shield-b644b2f2498a69f72b8c6dc12f167a7ac621b5c44cced913fe17c850a7bee406.png" style="margin-right: 10px" /></div>
               <div class="ZincInterstitial-headerContent">
                  <div class="ZincInterstitial-title">Musical Instrument Insurance</div>
                  <div class="ZincInterstitial-provider">From Anderson Musical</div>
                  <div class="ZincInterstitial-summary">1-Year Policy | Low Deductible | Renewable Annually</div>
               </div>
               <div class="ZincInterstitial-productInfo">
                  <div class="ZincInterstitial-productInfoCurrency">$</div>
                  <div class="ZincInterstitial-productInfoPrice">66</div>
                  <div class="ZincInterstitial-productInfoPeriod">per year</div>
               </div>
            </div>
            <div class="ZincInterstitial-main">
               <div class="ZincInterstitial-content">
                  <div class="ZincInterstitial-contentTitle">Peace of mind is only a click away!</div>
                  <ul class="ZincInterstitial-featureList">
                     <li><span class="ZincInterstitial-checkIcon"></span><span>Coverage for loss, theft, accidental damage and more.</span></li>
                     <li><span class="ZincInterstitial-checkIcon"></span><span>Fully transferable. 100% refund within first 30 days.</span></li>
                     <li><span class="ZincInterstitial-checkIcon"></span><span>Easy online claims. Policy confirmation via email.</span></li>
                  </ul>
                  <div><a target="_blank" class="ZincInterstitial-link" href="https://sandbox.zincplatform.com/providers/anderson/terms-and-conditions">Learn More</a></div>
               </div>
               <div class="Interstitial-extraInfo">
                  <div class="ZincInterstitial-actions"><button class="ZincInterstitial-action ZincInterstitial-mainAction" id="ZincInterstitial-add">Yes, Protect My Purchase!</button><button class="ZincInterstitial-action ZincInterstitial-secondaryAction" id="ZincInterstitial-cancel">No, I Accept the Risk.</button></div>
               </div>
            </div>
            <div class="ZincInterstitial-footer"><img src="https://sandbox.zincplatform.com/assets/interstitial/rate-badge-8ccb5210a2de06e031668b6411464ee97e98e6c60190a467f5368f44f0d90b54.png" style="margin-right: 10px" /><span>Backed by The Hanover Insurance Group, an A.M. Best "A" Rated Carrier</span></div>
         </div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
